.testimonial-grid {
    display: grid;
    gap: 1.5rem;
}



@media (min-width:50em) {
    .testimonial-grid {
        grid-template-columns: repeat(4, 1fr);
    }
    .grid-col-span-2 {
        grid-column: span 2;
    }
    .testimonial:last-child {
        grid-column-start: 4;
        /* start at line 4 */
    
        /* grid-row-start: 1;
        grid-row-end: 3;  */
        /* or  can do span 2  */
        /* grid-row-end: span 2; */
    
        /* shorthand  */
    
        /* grid-row: 1/3;  */
        /* or  */
        grid-row: 1/span 2;
    }
}